CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_BOARD_DIRECTORY="stm32"
CONFIG_STM32_SELECT=y
CONFIG_MACH_STM32F103=y
CONFIG_MACH_STM32F1=y
CONFIG_STM32_FLASH_START_7000=y
CONFIG_USBSERIAL=y
CONFIG_USB=y
CONFIG_WANT_ADC=y
CONFIG_WANT_SPI=y
CONFIG_WANT_I2C=y
CONFIG_WANT_HARD_PWM=y
CONFIG_WANT_TMCUART=y
CONFIG_MOTION_MODULE_STEPPER=y
