[respond]
[include chopper_tune.cfg]
[include shell_macros.cfg]
#[include meatball.cfg]
[include extruder.cfg]
[include macro.cfg]
[include mainsail.cfg]
#[include pa-test.cfg]
[include cpap.cfg]
[include KAMP_Settings.cfg]
[include adxl.cfg]
[include sfs2.cfg]
[include test-speed.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_490017000851323235363233-if00

[mcu bottom]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2C0036000851313133353932-if00

#[shaketune]
#max_freq: 200
#number_of_results_to_keep: 9999

[printer]
kinematics: corexy
#square_corner_velocity: 70
#corner_deviation: 0.11 #CD
#max_jerk: 500000

#minimum_cruise_ratio: 0.1
#shape_switchover_low: 35
#shape_switchover_high: 150

[axis x]
[axis y]
[axis z]

[limit gantry]
axes: x, y
max_velocity: 1000
max_accel: 70000

[limit z]
axes: z
max_velocity: 5
max_accel: 100

#[gcode_arcs]

[input_shaper]
smoother_freq_x: 186
smoother_freq_y: 122
#shaper_freq_x: 189.6
#shaper_freq_y: 118.8
shaper_type_x: smooth_mzv
shaper_type_y: smooth_mzv
#target_smoothing: 0.2
#damping_ratio_x: 0.084
#damping_ratio_y: 0.051
#enabled_extruders: extruder


[resonance_tester]
accel_chip: beacon
#accel_chip: adxl345 nis
#probe_points: 200, 150, 20
probe_points: 150, 155, 30 #150, 150
max_freq: 235
min_freq: 70
accel_per_hz: 125
#sweeping_accel: 1000
#   An acceleration of slow sweeping moves. The default is 400 mm/sec^2.
sweeping_period: 1.2
#   A period of slow sweeping moves. Avoid setting it to a too small
#   non-zero value in order to not poison the measurements.
#   To enable it, start by setting it to 1.2 sec which is a good all-round
#   choice. Set it to 0 do disable it. The default is 0.
#hz_per_sec: 2

[autotune_tmc stepper_x]
motor: omc-17hs19-2504s-h
voltage: 48
[autotune_tmc stepper_y]
motor: omc-17hs19-2504s-h
voltage: 48
[autotune_tmc stepper_x1]
motor: omc-17hs19-2504s-h
sgt: 2
voltage: 48
[autotune_tmc stepper_y1]
motor: omc-17hs19-2504s-h
sgt: 2 # higher - less sensitive
voltage: 48

[constants]
interpolate_ab: true
microsteps_ab: 32
interpolate_z: false
microsteps_z: 32
homing_current_secondary: 0.5
homing_current: 1
homing_speed: 100
run_current_ab: 2.5 #2.9 #2.5
driver_cs_ab: 26 #30 #26
run_current_z: 0.3


[stepper_x]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA2
microsteps: ${constants.microsteps_ab}
rotation_distance: 40
endstop_pin: tmc5160_stepper_x1:virtual_endstop
position_endstop: 300
min_home_dist: 40
homing_positive_dir: true
use_sensorless_homing: true
position_max: 300
position_min: -3
homing_speed: ${constants.homing_speed}
#high_precision_step_compress: True

[tmc5160 stepper_x]
cs_pin: PC7
spi_bus: spi1
interpolate: ${constants.interpolate_ab}
run_current: ${constants.run_current_ab}
home_current: ${constants.homing_current_secondary}
current_change_dwell_time: 1
sense_resistor: 0.075
stealthchop_threshold: 0
driver_CS: ${constants.driver_cs_ab}
driver_TBL: 0
driver_TOFF: 8
driver_HSTRT: 7
driver_HEND: 6
driver_TPFD: 7

[stepper_y]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: ${constants.microsteps_ab}
rotation_distance: 40
endstop_pin: tmc5160_stepper_y1:virtual_endstop
position_endstop: 302 #200
min_home_dist: 40
homing_positive_dir: true
use_sensorless_homing: true
position_max: 302 #300
homing_speed: ${constants.homing_speed}
#high_precision_step_compress: True

[tmc5160 stepper_y]
cs_pin: PC6
spi_bus: spi1
interpolate: ${constants.interpolate_ab}
run_current: ${constants.run_current_ab}
home_current: ${constants.homing_current_secondary}
current_change_dwell_time: 1
sense_resistor: 0.075
stealthchop_threshold: 0
driver_CS: ${constants.driver_cs_ab}
driver_TBL: 0
driver_TOFF: 8
driver_HSTRT: 7
driver_HEND: 6
driver_TPFD: 7


[stepper_x1]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: ${constants.microsteps_ab}
rotation_distance: 40
#high_precision_step_compress: True

[tmc5160 stepper_x1]
cs_pin: PD11
diag1_pin: ^!PG9
spi_bus: spi1
interpolate: ${constants.interpolate_ab}
run_current: ${constants.run_current_ab}
home_current: ${constants.homing_current}
current_change_dwell_time: 1
current_change_dwell_time: 1
sense_resistor: 0.075
stealthchop_threshold: 0
driver_CS: ${constants.driver_cs_ab}
driver_TBL: 0
driver_TOFF: 8
driver_HSTRT: 7
driver_HEND: 6
driver_TPFD: 7
driver_SGT: 1

[stepper_y1]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
microsteps: ${constants.microsteps_ab}
rotation_distance: 40
#high_precision_step_compress: True

[tmc5160 stepper_y1]
cs_pin: PC4
diag1_pin: ^!PG6
spi_bus: spi1
interpolate: ${constants.interpolate_ab}
run_current: ${constants.run_current_ab}
home_current: ${constants.homing_current}
current_change_dwell_time: 1
sense_resistor: 0.075
stealthchop_threshold: 0
driver_CS: ${constants.driver_cs_ab}
driver_TBL: 0
driver_TOFF: 8
driver_HSTRT: 7
driver_HEND: 6
driver_TPFD: 7
driver_SGT: 1




[stepper_z]
step_pin: bottom:PG0
dir_pin: !bottom:PG1
enable_pin: !bottom:PF15
microsteps: ${constants.microsteps_z}
rotation_distance: 40
gear_ratio: 5:1
# position_endstop: -0.5
position_max: 230
position_min: -5 # -0.3
homing_speed: 8.0
second_homing_speed: 3
homing_retract_dist: 0
endstop_pin: probe:z_virtual_endstop


[tmc2209 stepper_z]
uart_pin: bottom:PD11
interpolate: ${constants.interpolate_z}
run_current: ${constants.run_current_z}
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_z1]
step_pin: bottom:PF13
dir_pin: !bottom:PF12
enable_pin: !bottom:PF14
microsteps: ${constants.microsteps_z}
rotation_distance: 40
gear_ratio: 5:1

[tmc2209 stepper_z1]
uart_pin: bottom:PC4
interpolate: ${constants.interpolate_z}
run_current: ${constants.run_current_z}
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: bottom:PF11
dir_pin: bottom:PG3
enable_pin: !bottom:PG5
microsteps: ${constants.microsteps_z}
rotation_distance: 40
gear_ratio: 5:1

[tmc2209 stepper_z2]
uart_pin: bottom:PC6
interpolate: ${constants.interpolate_z}
run_current: ${constants.run_current_z}
sense_resistor: 0.110
stealthchop_threshold: 0

[heater_bed]
heater_pin: bottom:PA2
sensor_type: Generic 3950
sensor_pin: bottom:PF3
max_power: 1
min_temp: 0
max_temp: 120
pwm_cycle_time: 0.01666
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


[temperature_sensor z_motor]
sensor_type: Generic 3950
sensor_pin: bottom:PF7
min_temp: 0
max_temp: 70

[temperature_sensor ab_motor]
sensor_type: Generic 3950
sensor_pin: PF3
min_temp: 0
max_temp: 200

[temperature_sensor frame]
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 0
max_temp: 100

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_AA98B00F5157355957202020FF0E1224-if00
x_offset: 0
y_offset: 18
mesh_main_direction: x
mesh_runs: 2
contact_max_hotend_temperature: 185 # increase to probe at print temps
home_xy_position: 150, 150 
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_method: proximity # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: never # contact will calibrate beacon on first home

[bed_mesh]
mesh_min: 25, 25
mesh_max: 275,275
zero_reference_position: 150, 150
speed: 800
probe_count: 20, 20
algorithm: bicubic
adaptive_margin: 10

#[z_tilt]
#z_positions:
#   -60, -22
#   150, 320
#   360, -22
#points:
#   30, 5
#   150, 245
#   270, 5
#speed: 500
#horizontal_move_z: 15
#adaptive_horizontal_move_z: true
#retries: 15
#retry_tolerance: 0.015

[z_tilt_ng]
#z_positions:
#   -60, -22
#   150, 320
#   360, -22
#. This parameter must be provided,
#   unless the parameter "extra_points" is provided. In that case only
#   the command Z_TILT_AUTODETECT can be run to automatically determine
#   the z_positions. See 'extra_points' below.
#z_offsets:
#   A list of Z offsets for each z_position. The z_offset is added to each
#   probed value during Z_TILT_ADJUST to offset for unevenness of the bed.
#   This values can also be automatically detected by running
#   Z_TILT_CALIBRATE. See "extra_points" below.
points:
   30, 5
   150, 245
   270, 5
speed: 1000
horizontal_move_z: 10
min_horizontal_move_z: 5
adaptive_horizontal_move_z: true
retries: 10
retry_tolerance: 0.0075
increasing_threshold: 0.003
#use_probe_xy_offsets: true
#enforce_lift_speed: False
#extra_points:
#   A list in the same format as "points" above. This list contains
#   additional points to be probed during the two calibration commands
#   Z_TILT_CALIBRATE and Z_TILT_AUTODETECT. If the bed is not perfectly
#   level, it is possible to specify more probing points with "points".
#   In that Z_TILT_ADJUST will determine the best fit via a least squares
#   algorithm. As this comes with additional overhead on each Z_TILT_ADJUST
#   run, it is instead possible to move the additional probing points here,
#   and use Z_TILT_CALIBRATE to find z_offsets to use for the probing points
#   used in Z_TILT_ADJUST.
#   The extra points are also used during T_ZILT_AUTODETECT. This command
#   can determine the z_positions automatically by during several probings
#   with intentionally tilted bed. It is currently only implemented for 3
#   z steppers.
#   Note that for both commands to work numpy has to be installed.
#averaging_len: 3
#   Z_TILT_CALIBRATE and Z_TILT_AUTODETECT both run repeatedly until the
#   result can no longer be improved. To determine this, the probed values
#   are averaged. The number of runs to average over is configured with this
#   parameter.
#autodetect_delta: 1.0
#   The amount by which Z_TILT_AUTODETECT intentionally tilts the bed. Higher
#   values yield better results, but can also lead to situations where the
#   bed is tilted in a way that the nozzle touched the bed before the probe.
#   The default is conservative.

#[safe_z_home]
#home_xy_position: 150, 150
#z_hop: 5
#speed: 300

[motors_sync]
axes: x,y
#    Axes on which calibration will be performed.
accel_chip: beacon
retry_tolerance: 5000
max_step_size: 5
retries: 10
#    Accelerometer for vibrations collection: adxl345 / mpu9250 etc.
#encoder_chip_<axis>:
#    Axis, assigned encoder name, for measuring deviations.
#chip_filter: median
#    Filter type for data from the accelerometer: 'median' works well in
#    most cases, but some particularly noisy printers (fans, etc.) may
#    require a more powerful filter - 'kalman'. On lis2dw filters disabled.
#median_size: 3
#    Median filter window size.
#kalman_coeffs: 1.1, 1., 1e-1, 1e-2, .5, 1.
#    Simple coefficients describing the kalman filter.
microsteps: 32
#    Maximum microstepping displacement of the stepper motor rotor.
#steps_model: linear, 20000, 0
#    Mathematical model and its coefficients representing the dependence
#    of stepper motor microstep displacement on the measured magnitude.
max_step_size: 16
#    The maximum number of microsteps that the motor can take move at time,
#    to achieve the planned magnitude.
#axes_steps_diff: 4
#    The difference in motor positions in microsteps between two axes, used
#    to trigger a check for magnitude shift on the secondary axis in corexy
#    like kinematics. Default value: max_step_size + 1.
#retry_tolerance: 0
#    The forced threshold to which a pair of stepper motors on one belt
#    will have to lower the magnitude of the oscillations. It's recommended
#    to configure in order to filter possible inaccuracies. After several
#    iterations of starting synchronization, you will find the edge, to
#    which this parameter should be omitted.
#retries: 0
#    The maximum number of repetitions to achieve the forced threshold of
#    oscillations.
#head_fan:
#    Toolhead fan, which will be turned off during sync to eliminate noise.


[output_pin caselight]
pin: PB11
pwm: True
value: 0.1 #0.2
cycle_time: 0.005 #0.01
hardware_pwm: True


[gcode_macro MOTORS_SYNC]
gcode:
  SYNC_MOTORS

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.4366832587589902,
#*# 	1.7791425946955506,
#*# 	0.8114676630327906,
#*# 	0.4077638527717382,
#*# 	0.2629778891883896,
#*# 	0.21087515838926726,
#*# 	-0.15390965626840192,
#*# 	-0.21990798533166914,
#*# 	0.24377872047881705,
#*# 	0.22573604715705745
#*# model_domain = 1.8359521074610915e-07,1.893648763276026e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 30.886664
#*# model_offset = 0.07000
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 60.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 17.303
#*# pid_ki = 0.269
#*# pid_kd = 278.421
#*#
#*# [z_tilt_ng]
#*# # z_offsets = -0.004060, -0.003014, -0.003886
#*# z_positions = -68.648440, -23.573478
#*# 	147.387843, 349.479947
#*# 	363.318016, -23.340180
